@model Student

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>创建学生</h1>

    <form method="post">
        @*<input type="text" name="FirstName" value="" />*@

        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Gender"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                <option></option>
            </select>
            <span asp-validation-for="Gender"></span>
        </div>
        <div>
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" type="date" />
            <span asp-validation-for="BirthDate"></span>
        </div>
        <div asp-validation-summary="All"></div>

        <button type="submit" name="save">保存</button>
    </form>
    <a asp-action="Index">返回到Home</a>
</body>
</html>






