@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>学生信息</h1>
    <h2>ID:@Model.Id</h2>
    <h2>姓名：@Model.FirstName @Model.LastName</h2>
    <h2>年龄：@(DateTime.Now.Subtract(Model.BirthDate).Days / 365)岁</h2>
    <h2>性别：@Model.Gender</h2>
    <a asp-action="Index">返回到Home</a>
</body>
</html>
